<div class="row">
    <div class="col-lg-12">
        <p>
            expatriates. Not finished
        </p>
        <p>
            
        </p>
        <p>
           
        </p>
    </div>
    
</div>