<div class="row">
    <div class="col-lg-12">
        <p>
            Whether this is your first time relocating with family, your next overseas assignment or simply your first time away from home, the search for a good school – the right school – fundamentally impacts many aspects of your move.
        </p>
        <p>
            Parents thinking of moving abroad worry about their child’s education. Will the schools be as good as the ones back home? Will my child be able to adjust to the new learning environment? How will this experience impact my child’s university prospects?
        </p>
        <p>
            VIA Service can prepare you for these vital school-related decisions and answer your questions about admission into public or private school as well as the Austrian education system (age-grade relationship, curricula, mandatory requirements) before you arrive in Austria.
        </p>
    </div>
    
</div>