<!doctype html>
<html>
<head>
    <title>Your Austria Immigration Specialists | Live and Work in Austria</title>

    {{{_sections.head}}}
    <link href="/vendor/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="/vendor/bootstrap/css/bootstrap.css" media="all" />
    <link href="/vendor/jquery-ui-1.12.0.custom/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" media="all" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <meta content="Your Austria Immigration Specialists | Live and Work in Austria" about="/en/your-austria-immigration-specialists-live-and-work-austria" property="dc:title">
</head>
<body>
{{{body}}}
<script src="/vendor/less.min.js"></script>
<script src="/vendor/jquery/jquery-1.9.1.js"></script>
<script src="/vendor/socket.io.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"> </script>
<script src="/vendor/angular.min.js"> </script>
<script src="/vendor/bootstrap/js/bootstrap-combobox.min.js"></script>
<script src="/vendor/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
{{{_sections.jquery}}}

<!--<div class="row">-->
    <!--<div class="col-lg-2">-->

    <!--</div>-->
    <!--<div class="col-lg-8">-->

    <!--</div>-->
    <!--<div class="col-lg-2">-->

    <!--</div>-->
<!--</div>-->
<div style="padding-top: 20px"></div>
<footer class="footer" style="padding-top: 10px;background-color: #e5e8ff">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a href="/">Home</a>
            </div>
            <div class="col-lg-2">
                <ul class="list-group">
                    <li class="list-group-item">Students</li>
                    <li class="list-group-item">Privatiers</li>
                    <li class="list-group-item">Entrepreneurs</li>
                    <li class="list-group-item">Expatriates</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <a href="/">Resources</a>
            </div>
            <div class="col-lg-2">
                <a href="/">Contact</a>
                <ul class="list-group">
                    <li class="list-group-item">Impressum</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <a href="/faq">FAQ</a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>